@charset "utf-8";
/*reset*/
html {
	font-size:100%;
}
body {
	font:normal 12px '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
table {
	width:100%;
	border-collapse:collapse;
}

table caption {position:absolute; top:0; left:-999999px;}

a:link, a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

select, input, textarea {
	font:normal 1em '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	color:#797b80;
	vertical-align:middle;
}

/*body*/
.wrap{
	margin: 0 auto;
	width: 1184px;
	padding-bottom: 80px;
}

/* breadcrumb */
.breadcrumb {
	width: 1184px;
	margin: 10px auto;
	text-align: right;
	font-size: 12px;
}

.breadcrumb a::after {
	content: '';
	display: inline-block;
	width: 5px;
	height: 10px;
	margin-left: 10px;
	margin-right: 7px;
	vertical-align: -1px;
	background: url('../image/icon_common.png') no-repeat -60px -30px;
}

.breadcrumb span {
	text-decoration: underline;
}
/*title01*/
.title01{
	margin: 22px auto 44px;
	text-align: center;
}
.title01 *{
	display: block;
}
.title01 > h1 img{
	margin-left: auto;
	margin-right: auto;
}
.title01 > strong{
	font-size: 20px;
	padding-top: 13px;
	color: #000;
}
.title01 > span{
	font-size: 15px;
	padding-top: 13px;
	color: #373737;
}
/* banner */
.banner{
	width: 1184px;
	height: 371px;
}
.banner *{
	display: block;
}
.banner a{overflow: hidden;}
.banner a img{
	float: left;
}
.banner a div{
	background-color:#f4f4f4;
	width: 535px;
	height: 288px;
	float: left;
	padding: 41px 27px 41px 30px;
	letter-spacing: -1px;
	position: relative;
}
.banner a div span{
	font-size: 14px;
	color: #595959;
}
.banner a div em{
	font-size: 30px;
	color: #151515;
	padding-top: 17px;
	line-height: 38px;
	font-style: normal;
}
.banner a div p{
	color: #595959;
	line-height: 22px;
	font-size: 14px;
	padding-top: 15px;}
.banner a div span:last-child{
	position: absolute;
	bottom: 41px;
	left: 30px;
	width: 80px;
	color: #151515;
	border-bottom: 2px solid #151515;
	font-size: 16px;

}
/* title02 */
.title02{
	overflow: hidden;
	padding: 55px 0 20px 0;

}
.title02 ul li{
	float: left;
	font-size: 16px;

}
.title02 ul li:first-child{
	color: #151515;
}
.title02 ul li+li{
	margin-left: 40px;
	color: #a8a8a8;
}

/* section */
.section{
	width: 1184px;
	overflow: hidden;
	border-top: 2px solid #151515;
	border-bottom: 2px solid #151515;
}
.section li{
	float: left;
	width: 259px;
	height: 358px;
	padding: 24px;
	border-bottom: 1px solid #e9e9e9;
	position: relative;
}
.section img{
	padding-bottom: 10px;
}
.section li:first-child{
	padding-left: 0;
}
.section li:last-child{
	padding-right: 0;
}
.section li+li{
	border-left: 1px solid #e9e9e9;
}
.section ul li span{
	color: #151515;
	font-size:16px;
}
.section ul li em{
	position: absolute;
	left: 24px;
	bottom: 26px;
	font-style: normal;
}
.section ul li:first-child em{
	left: 0;
}


/* page 선택 */
.pages{
	text-align: center;
	width: 100%;
	padding-top: 24px;
}
.pages *{
	display: inline-block;
	vertical-align: top;
}
.pages > a:first-child{
	border: 1px solid #e9e9e9;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background: url('../image/pastlist_btn_paging.png') no-repeat 0 0;
}
.pages > a:last-child{
	border: 1px solid #e9e9e9;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background: url('../image/pastlist_btn_paging.png') no-repeat -30px 0;
}
.pages > span > a{
	border: 1px solid #e9e9e9;
	line-height: 1.9;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #595959;
	font-size: 14px;
	margin: 0 2px;
}
.pages > span > a.on{
	border:1px solid #222;
	background-color:#222;
	color:#fff;
}
.pages a:hover{
	text-decoration: none;
	background-color: #e9e9e9;
}
/*검색*/
#search{
	margin-top: 30px;
	width: 1184px;
	height: 60px;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
}

#search * {
	vertical-align: top;
}
#search div {
	text-align: center;
	margin-top: 15px;
}
#search select{
	min-width: 100px;
	height: 30px;
}
#search input {
	min-width: 234px;
	height: 24px;
	line-height: 24px;
}
#search button{
	display: inline-block;
	padding: 5px 15px;
	text-align: center;
	border: 1px solid #404040;
	background-color: #686868;
	font-size: 14px;
	color: #fff;
}
#search button:hover{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	border: 1px solid #151515;
	background-color: #151515;
}
