@charset "utf-8";
/*reset*/
html {
	font-size:100%;
}
body {
	font:normal 12px '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
table {
	width:100%;
	border-collapse:collapse;
}

table caption {position:absolute; top:0; left:-999999px;}

a:link, a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

select, input, textarea {
	font:normal 1em '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	color:#797b80;
	vertical-align:middle;
}

/*body*/
.wrap{
	margin: 0 auto;
	width: 1184px;
	padding-bottom: 80px;
}

.past_head{
	height: 144px;
}
.past_head > h1{
	text-align: center;
}
ul:first-of-type {
	border-top: 1px solid black;
}
ul:last-of-type {
	border-bottom: 1px solid black;
}
ul > li{
	width: 1184px;
	height: 323px;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #e9e9e9;
}
ul > li > h2{
	color : black;
	font-size: 44px;
	font-weight: 300;
	position: absolute; top: 75px; left: 0;
}
ul > li > div{
	width: 260px;
	float: left;
	padding: 80px 32px 0 155px;
}
ul > li > div > a{
	color:black;
}
ul > li > div > a:hover{
	color:#00857E;
	text-decoration: none;
}
ul > li > div > a > *{
	display: block;


}
ul > li > div > a > strong{
	font-size: 30px;
	font-weight: 300;
}
ul > li > div > a > span{
	font-size: 16px;
	margin-top: 12px;
}
ul > li > div > a > em{
	margin-top: 20px;
	font-size: 14px;
	font-style: normal;
}
ul > li > a > img{
	width: 737px;
	height: 323px;
	float: left;
}
.pages {
	text-align: center;
	width: 100%;
	padding-top: 24px;
}
.pages *{
	display: inline-block;
	vertical-align: top;

}

.pages > a:first-child{
	border: 1px solid #e9e9e9;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background: url('../image/pastlist_btn_paging.png') no-repeat 0 0;
}
.pages > a:last-child{
	border: 1px solid #e9e9e9;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background: url('../image/pastlist_btn_paging.png') no-repeat -30px 0;
}


.pages > span > a{
	border: 1px solid #e9e9e9;
	line-height: 1.9;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #595959;
	font-size: 14px;
	margin: 0 2px;
}

.pages a:hover{
	color:white;
	background-color: #e9e9e9;
}