.program_wrapper
  .program_review
        ul.program
          h2
            | UPCOMING PROGRAM 
            strong.sub-title 대림미술관의 특별한 프로그램
          li.col1
            a(href='')
              img(src='../image/mainpage/upcoming_program_1.jpg', alt='')
              .text
                h4.section-title
                  | D PASS 
                  strong.sub-title 매주 토요일, 감각을 깨우는 특별한 만남
                p 재즈콘서트: 송인섭 트리오
                span 2015.08.29 SAT 6:00-7:00PM
          li.col1
            a(href='')
              img(src='../image/mainpage/upcoming_program_2.jpg', alt='')
              .text
                h4.section-title
                  | GOOD NIGHT 
                  strong.sub-title 매주 목요일, 당신을 위한 즐거운 밤의 초대
                p 8월, 플레이 나잇: 달콤한 동심으로 떠나는 플레이 가든!
                span 2015.08.27 THU 6:00-8:00PM
        .review
          h2
            | REVIEW 
            strong.sub-title 미술관 현장의 생생한 이야기
          .review_slide_controller
            button(type='button')
              span.acc-hidden 재생/일시정지
            a.active(href='')
              span.acc-hidden 첫번째 배너 보기
            a(href='')
              span.acc-hidden 두번째 배너 보기
            a(href='')
              span.acc-hidden 세번째 배너 보기
          ul
            li
              a(href='')
                img(src='../image/relative/reveiw_slide_1.jpg', alt='')
            li
              a(href='')
                img(src='../image/relative/reveiw_slide_2.jpg', alt='')
            li
              a(href='')
                img(src='../image/relative/reveiw_slide_3.jpg', alt='')
