footer
      #fnb
        ul.footer_top
          li
            h6
              a(href='') 대림미술관
            span 서울특별시 종로구 지하문로4길 21
            span 지번주소 : 통의동 35-1
            span T. 02-720-0667  F. 02-720-0665
            div
              a
                i.fa.fa-facebook-f facebook
              a
                i.fa.fa-twitter twitter
              a
                i.fa.fa-instagram instagram
              a
                i.fa.fa-youtube-play youtube
          li
            h6
              a(href='') D MUSEUM
            span 서울특별시 용산구 독서당로29길 5-6
            span 지번주소 : 한남동 50-1, Replace 한남 F동
            span T. 02-796-8166~9  F. 02-725-7023
          li
            h6
              a(href='') 구슬모아 당구장
            span 서울특별시 용산구 독서당로 73-4
            span 지번주소 : 한남동 29-4
            span T.02-3785-0667
            div
              a
                i.fa.fa-facebook-f facebook
              a
                i.fa.fa-twitter twitter
        .footer_bottom
          ul.footer_nav
            li
              a(href='') 개인정보 처리방침
            li
              a(href='') 이용약관
            li
              a(href='') 영상정보처리기기 운영 및 관리방침
            li
              a(href='') SITE MAP
            li
              a(href='') Contact Us
          div
            span 대림문화재단(재)
            span 사업자등록번호: 305-82-09028
            span 서울특별시 종로구 자하문로4길 21(통의동 35-1)
            span COPYRIGHT 2015 BY DAELIM MUSEUM ALL RIGHT RESERVED.
