#header
  .header_top
    .inner
      .link-menu
        a(href='') 대림미술관
        a(href='') 디뮤지엄
        a(href='') 구슬모아 당구장
      #lnb
        ul
          li
            a(href='') LOGIN
          li
            a(href='') JOIN
          li
            a(href='') SNS
          li
            a(href='') ENG
  .gnb_header_slide
    .set_gnb.header_slide_menu
      #gnb
        h1
          a(href='')
            img(src='image/logo_DEALIM.png', alt='daelim museum')
        ul.show_menu
          li
            a(href='') VISIT
            ul.hide_menu
              li
                a(href='') 관람 안내
              li
                a(href='') 미술관 소개
              li
                a(href='') 오시는길
          li
            a(href='') EXHIBITION
            ul.hide_menu
              li
                a(href='') 현재전시
              li
                a(href='') 지난전시
          li
            a(href='') PROGRAM
            ul.hide_menu
              li
                a(href='') D PASS
              li
                a(href='') GOOD NIGHT
              li
                a(href='') 교육프로그램
                span 하위메뉴보기
              li
                a(href='') 지역연계프로젝트
                span 하위메뉴보기
          li
            a(href='') LBRARY
            ul.hide_menu
              li
                a(href='') D STORY
              li
                a(href='') D MOMENT
              li
                a(href='') D WALLPAPER
          li
            a(href='') NEWS
            ul.hide_menu
              li
                a(href='') 캘린더
              li
                a(href='') 공지사항
              li
                a(href='') 이벤트
              li
                a(href='') FAQ
              li
                a(href='') 1:1 문의하기
              li
                a(href='') 모바일앱 소개
        .about_museum
          a(href='')
            img(src='image/menu_daelimmuseum.jpg', alt='')
            p
              strong About DEALIM MUSEUM
              br
              | 						일상이 예술이 되는 대림미술관
