ul.lnb
      li.information
        h3.lnb_title INFORMATION
        ul
          li._top
            h5 관람 시간 안내
            p 화-일요일 10:00AM - 6:00PM
            p 목,토요일 10:00AM - 8:00PM
            p 매주 월요일, 설/추석 연휴는 휴관
          li._bottom
            h5 성인 5,000원
            p 학생(초/중/고)3,000원/미취학아동 2,000원
            p 매표는 전시종료 30분 전에 마감
        a(href='')
          span.more 자세히 보기
      li.map
        h3.lnb_title MAP
        ul
          li
            h5 대림미술관
            p 서울특별시 종로구 자하문로4길 21
            p T.02-720-0667
            img(src='image/lnb_map.jpg', alt='')
        a(href='')
          span.more 자세히 보기
      li.membership
        h3.lnb_title MEMBERSHIP
        ul
          li._top
            h5 온라인 회원 할인
            p 대림미술관의 소식을 가장 먼저!
            p 전시관람 20% 할인
          li._bottom
            h5 D 멤버십 할인
            p 50%이상 할인된 가격으로
            p 전시 3회 + D PASS + 커피까지
        a(href='')
          span.more 자세히 보기
      li.tour
        h3.lnb_title TOUR
        ul
          li._top
            h5 모바일 투어
            p 수석 큐레이터가 진행하는
            p 앱 속의 전시 설명
          li._mid
            h5 정규 도슨트 투어
            p 전문 도슨트가 진행하는 쉽고 재미있는 전시감상
          li._bottom
            h5 스페셜 도슨트 투어
            p 10인이상의 단체에게 제공되는 특별한 도슨트 투어
        a(href='')
          span.more 자세히 보기
