//-----------------------------------------
	* 변수
	*--------------------------------------

//- 주 언어
- var langage          = 'ko-KR'
//- 문자 인코딩
- var encoding         = 'UTF-8'
//- 페이지 타이틀
- var page_title       = '대림미술관'
//- 메인 페이지 설정
- var isMain           = null
//- 현재 페이지 이름
- var current_page     = ''

//- 메타 정보
- var meta_description = 'In Every Life, 일상이 예술이 되는 미술관, 대림미술관, DAELIM-MUSEUM, 구슬모아 당구장에서 진행하는 전시와 행사 이벤트를 앤내해 드립니다.'
- var meta_keywords    = '대림미술관, D MUSEUM, 구슬모아당구잔, 전시 소개, 작가 소개, 오시는길, D 멤버십, 모바일투어, 온라인회원가입, DPASS, GOOD NIGHT'
- var meta_author      = 'team9'

//- 스타일시트 링크 설정
- var style_css        = 'css/style.css'

//- 라이브러리 사용 유무 설정 변수
- var using_jquery = !false