footer
  background-color: #222222
  padding-left: 42px
  padding-right: 42px
  padding-top: 50px

span
  color: #909090

h6
  margin-bottom: 10px
  a
    font-size: 16px
    color: #ffffff

ul
  overflow: hidden

.footer_top
  padding-bottom: 50px
  li
    width: 340px
    float: left
    span
      display: block
      font-size: 12px
      line-height: 10px
      margin-bottom: 10px
    + li
      padding-left: 20px
      border-left: 1px solid #909090

.fnb::after
  content: ''
  display: block
  clear: both

.footer_bottom
  border-top: 1px solid #909090
  padding-top: 30px
  padding-bottom: 50px

.footer_nav li
  float: left

.fa
  color: #909090