include pages/_document_head
	//- 환경 설정
	block settings
		include config/_setting

	head

		meta(http-equiv="X-UA-Compatible", content="IE=Edge")

		//- 문자 인코딩
		meta(charset= encoding)

		//- 문서 타이틀
		title= page_title

		//- 검색엔진 최적화 SEO
		block meta_seo
			include pages/head/_meta_seo

		//- 모바일 최적화
		block meta_viewport
			meta(name="viewport", content="width=device-width, initial-scale=1")

		//- 메인 스타일링
		block stylesheets
			link(rel="stylesheet", href="css/museum_info.css")
			link(href=webfont, rel='stylesheet', type='text/css')
			link(rel="shortcut icon", href="image/icon_favicon.ico")
			link(href=awesomefont, rel='stylesheet')

		block _scripts_head
			include pages/scripts/_scripts_head

	body
		.banner
			h2 미술관소개
			p 일상이 예술이 되는 미술관
		ul.menu
			li
				a(href="") 관람 안내
			li.first
				a(href="") 미술관 소개
			li
				a(href="") 오시는 길

	.part1
		h2 일상이 예술이 되는 미술관
		p 유서 깊은 경복궁과 인접한 통의동 주택가에 위치하고 있는 대림미술관은 한국 최초의 사진 전문 미술관으로 출발하여</br>현재에는 사진뿐만 아니라 디자인을 포함한 다양한 분야의 전시를 소개하며 그 경계를 확장해 나가고 있습니다. </br>대림미술관은 ‘일상이 예술이 되는 미술관’이라는 비전(vision) 아래, 우리 주변에서 쉽게 발견 할 수 있는 사물의 가치를 새롭게 조명함으로써 </br>대중들이 일상 속에서 예술을 즐길 수 있도록 새로운 라이프 스타일을 제안하는 전시 컨텐츠를 만들어내고자 노력하고 있습니다.
		ul
			li 국/내외 아티스트들과의 지속적인 네트워크를 구축하며, 국제적 문화교류를 통해 수준 높은 현대 미술과 디자인 분야를 소개합니다.
			li 대중과의 활발한 소통을 지향합니다.
			li 지역연계 프로젝트를 통해 지역 사회와 함께 하는 문화를 만들어가는 친근한 미술관을 지향합니다.
			li 다양한 예술장르를 넘나들며 활동하는 국내 젊은 아티스트들의 독창적이고 실험적인 창작활동을 지원합니다.
			li 다양한 교육프로그램을 통해 공공 교육의 발전과 활성화를 위해 앞장섭니다.

	.part2
		h2 대림미술관 연혁
		.history
			ul.year1
				li
					strong 1993
					p '한림갤러리' 대전에 설립
				li
					strong 1996
					p '대림문화재단 설립'
				li
					strong 1997
					p 한국 최초의 사진 전문 미술관 '한림미술관' 대전에 개관
				li
					strong 2002
					p '대림미술관' 서울에 개관
			ul.year2
				li
					strong 2003
					p 故한우정 이사장 프랑스 문예공로훈장 ‘슈발리에상’ 수상
				li
					strong 2012
					p DAELIM MUSEUM 으로 MI 변경</br>이벤트 및 교육 프로그램을 위한 ‘D라운지’ 개관 </br>다양한 분야의 젊은 크리에이터들을 소개하는 프로젝트 스페이스 ‘구슬모아 당구장’ 개관
				li
					strong 2015
					p 'D MUSEUM' 개관 예정

	.part3
		h2 전통과 현대를 아우르는 새로운 건축 미학
		p 대림미술관의 현재 건물은 1967년 지어진 한 가족의 보금자리에서 </br>2002년 프랑스 건축가 뱅상 코르뉴에 의해 현대적인 미술관으로 리노베이션되어 개관한 것입니다. </br>건축가는 기존 가옥의 형태와 주변 환경을 최대한 고려하여, 미술관을 전문적이고 효율적인 전시의 공간이자 열린 공공의 장소로 완성하였습니다.

		.blueprint
		.inner
			.inner1
				p 미술관 내부 및 외부의 공간은 전체와 부분, 인공과 자연, 전통과 현대 사이의 조화를 이루며 </br>방문하는 많은 관람객들에게 다양한 공간적 경험을 제공합니다. 건축물 전면은 한국의 전통 </br>보자기에서 영감 받은 스테인드 글라스로 눈길을 끌고 있으며, </br>2층과 3층에 정원을 향해 둘러있는 휴식공간은 관람객들에게 전시관람 중 쉬어가는 </br>여유의 공간으로 사용되고 있습니다.
				.inner_img1
			.inner2
				p 미술관 1층은 정원과 주차장을 포함해 리셉션, 수장고, 회의실 등이 자리하고, </br>2층과 3층은 넓고 작은 갤러리 공간들로 이루어진 180평의 전시실과 사무실이 위치해 있으 </br>며, 4층 전시실 외부에는 아름다운 전망의 발코니가 있어서 인왕산은 물론 멀리 </br>북한산까지 보이는 탁 트인 전망을 자랑합니다.
				.inner_img2
		.comment
			p 어떻게 하면 ‘집’이 갖는 안락한 성격을 잃지 않고 공공의 방문객들을 맞이할 수 있을 것인가 하는 수많은 생각을 하였다. </br> 어떻게 하면 지나친 노출 없이 빛을 연출할 것인가?서울에 있어 이 미술관은 도대체 무엇이란 말인가? </br> 그리고 그것은 다른 것들과 무엇이 다를 것인가? 이러한 수없이 많은 생각을 가지고 우리들은 작업에 임했다.
			span - 뱅상 코르뉴 Vincen Cornu -
		.artist
			img.profile_photo
			strong 건축가 뱅상 코르뉴 (Vincen Cornu)
			p 1954년 프랑스 Poitiers 출생. 파리에서 건축학 학위 취득 후 뉴욕 IUS에서 수학. </br>1981년부터 1985년까지 Roland Simounet 사무실에서 ‘피카소 미술관’의 설립 책임을 맡았다. 1992년 파리 라빌레트(PARIS LA VILLETTE) </br>건축학교에 출강하며 미술관을 비롯하여 아파트 계획, 도시 프로젝트 등 다양한 건축 프로젝트에 참여하였다.