extends part/_main_page_template

block stylesheets
	link(rel="stylesheet", href="css/d-callendar.css")

block banner
	.breadcrumb
		a(href='') 홈
		span  D CALENDAR

block contents

block section
	section
		header
			h1 CALENDAR
				strong 미술관에서 일어나는 다채로운 전시, 행사 및 프로그램 스케줄
			p 전시와 D PASS, GOOD NIGHT, 이벤트 등<br>다양한 프로그램 일정을 한 눈에 확인!

		section
			h2 미술관에서 진행 중 프로그램
			ul
				li
					h3 DAELIM MUSEUM
					h4 헨릭 빕스코브 패션과 예술, 경계를
					span 2015.07.09 - 2015.12.31
					a(href="") 자세히 보기
				li
					h3 D MUSEUM
					h4 대림미술관의 또 하나의 시작
					a(href="") 자세히 보기
				li
					h3 구슬모아 당구장
					h4 조규형: 그림 서체 - 키보드 장단에
					span 2015.09.05 - 2015.10.04
					a(href="") 자세히 보기
