doctype html
// [if !IE] <!
html.no-js(lang='ko-KR')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=7')
    meta(charset='UTF-8')
    title GOOD NIGHT
    link(rel='stylesheet', type='text/css', href='css/GOOD_NIGHT.css')
  body
    .wrap
      .breadcrumb
        a(href='') 홈
        a(href='') LIBRARY
        span GOOD NIGHT
      .title01
        h1
          img(src='image/GN_logo.png', alt='GOOD NIGHT', width='288', height='34')
        strong 목요일에는 Play Like Me!
        span
          | 즐길 줄 아는 당신을 위한 밤의 초대
          br
          | 			밤하늘 아래 미술관에서 마시고, 보고, 듣는 당신의 굿나잇
      .banner
        img(src='image/GN_banner.jpg', alt='', width='590', height='294')
        div
          em 9월. 뷰티 나잇, 스파클링한 가을 밤의 뷰티 클래스!
          p
            | 예뻐지고 싶은 목요일 밤 #PlayLikeMe 현장이벤트!Lucky 1분에게 베네피트 메이크업 아티스트와 함께하는 뷰티 모델의 주인공으로 초대합니다.목요일에는 야근하지 마세요. 나답게, 더욱 아름다워지세요 :)
      .program_info
        ul
          li
            em 일시
            | 				2015. 09. 03  THU  18:00 - 20:00
            br
            | 				2015. 09. 10  THU  18:00 - 20:00
            br
            | 				2015. 09. 17  THU  18:00 - 20:00
            br
            | 				2015. 09. 24  THU  18:00 - 20:00
          li
            em 참가비
            | 				무료
          li
            em 장소
            | 				D 라운지
          li
            em 참여방법
            | 				그냥 오기 (전시티켓 소지자에 한해 입장 가능)
      .main_contents
        p
          | 나만의 아름다움을 찾고 싶어지는 계절,
          br
          | 			9월의 Good Night, ‘뷰티 나잇’으로 맞이하세요.
          br
          br
          | 			가을의 컬러를 내 볼에 톡톡, 입술 위로 살포시
          br
          | 			스파클링한 가을 밤에 만나는 뷰티 클래스
          br
          br
          | 			9월 03일, 10일, 17일ㅣ6-8PM l at D Lounge 
          br
          br
          | 			예뻐지고 싶은 목요일 밤 #PlayLikeMe 현장이벤트!
          br
          | 			Lucky 1분에게 베네피트 메이크업 아티스트와 함께하는 뷰티 모델의 주인공으로 초대합니다.
          br
          br
          | 			그리고 24일, 마지막 뷰티 나잇은 남자친구에게 양보하세요.
          br
          | 			퇴근을 앞둔 남자들에게 필요한 마지막 뷰티 나잇!
          br
          br
          | 			과다한 업무에 무너진 스타일을 뽀송뽀송하게 만들어줄 무적의 뷰티팀이 미술관을 찾아옵니다.
          br
          br
          | 			+ 칼퇴에 이은 목요일밤의 스파클링한 선물
          br
          | 			1. 내 남자의 판타스틱한 변신을 원해왔다면 세상에서 가장 달콤한 러브레터를 써주세요. 
          br
          | 			Lucky 1커플에게 뷰티샵 ‘순수‘의 메이크오버 기회를, 
          br
          | 			2. 혼자 와서 쓸쓸한 싱글남녀 10명에게는 H&M상품권과 베네피트 틴트립밤을 드립니다.
          br
          br
          | 			목요일에는 야근하지 마세요. 
          br
          | 			나답게, 더욱 멋지게 #PlayLikeMe
          br
          br
          | 			* 참여방법: 헨릭 빕스코브 전시 티켓 소지자라면 그냥 오기
          br
          | 			* 1 FREE 버니니 제공ㅣ19세 이상 참여 가능
          br
          | 			* 베네피트 ‘더 포어페셔널‘ 샘플 제공 (선착순 200명)
          br
          | 			* 뷰티 나잇은 베네피트와 함께합니다.
      .title02
        h2 전체 D PASS
        #exhibit_select
          select(name='', id='', title='전시전체')
            option(value='') 전시 전체
            option(value='') vivienne westwood
            option(value='') 헨릭 빔스코브 - 패션과 예술 경계를 허무는 아티스트
            option(value='') 린다 매카트니 - 생애 가장 따뜻한 날들의 기록
            option(value='') 트로이카:소리,빛,시간 - 감성을 깨우는 놀라운 상상
            option(value='') 라이언맥긴리 - 청춘,그 찬란한 기록
            option(value='') How to Make a Book with Steidl : 슈타이들 展
            option(value='') SPARKLING SECRETS - 스와로브스키, 그 빛나는 환상
            option(value='') 핀 율 탄생 100주년전-북유럽 가구 이야기
            option(value='') WORK IN PROGRESS - Karl Lagerfeld photography exhibition
            option(value='') Juergen Teller - Touch me
            option(value='') Less and More - The Design Ethos of Dieter Rams
            option(value='') Inside Paul Smith - His art, His Photography, His world
          button.btn(href='') 조회
      .section
        ul
          li
            img(src='image/GN_sep.jpg', alt='', width='260', height='130')
            span 9월. 뷰티 나잇, 스파클링한 가을 밤의 뷰티 클래스!
            em 2015.09.03 - 2015.09.24
          li
            img(src='image/GN_aug.jpg', alt='', width='260', height='130')
            span 8월. 플레이 나잇, 달콤한 동심으로 떠나는 플레이 가든!
            em 2015.08.01 - 2015.08.31
          li
            img(src='image/GN_july.jpg', alt='', width='260', height='130')
            span 7월. 스타일 나잇, 한 여름밤의 힐링 라운지!
            em 2015.07.16 - 2015.07.30
          li
            img(src='image/GN_may.jpg', alt='', width='260', height='130')
            span 5월. 패밀리 나잇, 추억 어린 소품들 속의 가족사진 촬영
            em 2015.05.07 - 2015.05.21
        ul
          li
            img(src='image/GN_april.jpg', alt='', width='260', height='130')
            span 4월. 스텔라 나잇, 봄날의 가든파티
            em 2015.04.02 - 2015.04.30
          li
            img(src='image/GN_march.jpg', alt='', width='260', height='130')
            span 3월. 비틀즈 나잇, 비틀즈 베스트 앨범 음악 감상회
            em 2015.03.05 - 2015.03.26
          li
            img(src='image/GN_fab.jpg', alt='', width='260', height='130')
            span 2월. 스윗 나잇, 오감을 터치하는 스윗 테라피
            em 2015.02.05 - 2015.02.26
          li
            img(src='image/GN_jan.jpg', alt='', width='260', height='130')
            span 2015 발렌타인데이 파티: 레트로맨틱
            em 2015.02.14 - 2015.02.14
      .pages
        a(href='') 첫 페이지 바로가기
        span
          a.on(href='') 1
          a(href='') 2
          a(href='') 3
          a(href='') 4
        a(href='') 마지막 페이지 바로가기
      div
