extends part/_main_page_template

block stylesheets
  link(rel="stylesheet", href="css/happy_children.css")

block banner

block contents

block section
  .wrap
    .breadcrumb
      a(href='') 홈
      a(href='') 프로그램
      a(href='') 교육 프로그램
      span 어린이(해피칠드런)
    .banner
      img(src='image/HC_banner.jpg', alt='', width='592', height='296')
      div
        em 프런키 : Project Runway Kids
        p 헨릭 아저씨의 엉뚱하고 재미있는 상상의 공간에 흠뻑 빠져 볼까요? 어린이들의 상상이 멋진 런웨이로 탄생되는 예술교육 프로그램
    .details_info
      ul
        li
          em 기간
          |         2015.07.09 - 2015.12.31
        li
          em 참가비
          |         20,000원 / 1인
        | s
        li
          em 대상
          |         유치부 및 초등학생
        li
          em 총소요시간
          |         150 분
        li
          em 장소
          |         대림미술관 D라운지
    .title02
      h2 지난 해피 칠드런
    .section
      ul
        li
          img(src='image/HC_last_1.jpg', alt='', width='260', height='130')
          span 행복한 카메라
          em 2014.11.06 - 2015.05.25
        li
          img(src='image/HC_step2.jpg', alt='', width='260', height='130')
          span 트로이카:소리,빛,시간-감성을 깨우는 놀라운 상상
          em 2014.04.10 - 2014.10.12
        li
          img(src='image/HC_last_3.jpg', alt='', width='260', height='130')
          span 책 만드는 아저씨
          em 2013.04.11 - 2013.10.06
        li
          img(src='image/HC_last_4.jpg', alt='', width='260', height='130')
          span 미술관 상자
          em 2012.11.08 - 2013.03.171
      ul
        li
          img(src='image/HC_last_5.jpg', alt='', width='260', height='130')
          span 북유럽에서 온 친구들
          em 2012.04.26 - 2012.09.23
        li
          img(src='image/HC_last_6.jpg', alt='', width='260', height='130')
          span 리틀 큐레이터, 움직이는 도록 만들기
          em 2011.10.13 - 2012.03.186
    .pages
      a(href='') 첫 페이지 바로가기
      span
        a.on(href='') 1
      a(href='') 마지막 페이지 바로가기