doctype html

//- IE 조건부 주석문
!= '<!--[if !IE]><!-->'
html.no-js(lang=langage)
	!= '<!--<![endif]-->'
	!= '<!--[if IE 8]><html lang="ko-KR" class="ie lt-ie10 ie8 no-js"><![endif]-->'
	!= '<!--[if IE 9]><html lang="ko-KR" class="ie lt-ie10 ie9 no-js"><![endif]-->'